{% extends 'storefront/main.html' %}
{% load static %}
{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x400)">
        <div class="auto-container">
            <h1>About Us</h1>
            
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contact Section -->
    <section class="contact-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <div class="divider"><img src="{% static 'images/icons/divider_1.png' %}" alt=""></div>
                <!-- <h2>Contact Information</h2> -->
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nisi et dolor ornare pellentesque. Nullam porttitor,<br> odio id facilisis, mauris dolor rhoncus elit, ultricies nulla eros at dui. In suscipit leo sagittis aliquam.</div>
            </div>

            <div class="row clearfix">
                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-column">
                        <div class="title">
                            <div class="icon"><img src="{% static 'images/icons/icon-devider-gray.png' %}" alt=""></div>
                            <h4>Hours of Operation</h4>
                        </div>

                        <ul class="contact-info">
                            <li>Monday – Friday <br>08:00 – 17:30</li>
                            <li>Saturday <br>09:00 – 16:00</li>
                            <li>Sunday <br>CLOSED</li>
                        </ul>
                    </div>
                </div>

                <div class="column col-xl-3 col-lg-6 col-md-6 col-sm-12 order-3">
                    <div class="inner-column">
                        <div class="title">
                            <div class="icon"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                            <h4>Contact Information</h4>
                        </div>

                        <ul class="contact-info">
                            <li>123 Any Street, <br> Any City, AL</li>
                            <li><a href="tel:12032842818">(222) 999-2818</a><br><a href="tel:12032842919">(789) 284-2919</a></li>
                            <li><a href="mailto:info@your-site.com">info@your-site.com</a><br> <a href="mailto:sales@your-site.com">sales@your-site.com</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="title">
                            <div class="icon"><img src="{$ static 'images/icons/icon-devider-gray.png' %}" alt=""></div>
                            <h4>Send Message</h4>
                        </div>
                        <div class="contact-form">
                            <form action="#" method="post" id="email-form">

                                <div class="form-group">
                                    <div class="response"></div>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="username" class="username" placeholder="Your Name *">
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" class="email" placeholder="Your Email *">
                                </div>
                                
                                <div class="form-group">
                                    <textarea name="contact_message" placeholder="Text Message"></textarea>
                                </div>
                                
                                <div class="form-group">
                                    <button class="theme-btn" type="button" id="submit" name="submit-form">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Section -->

    <!-- Map Section -->
    <!-- <section class="map-section">
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </section> -->
    <!-- End Map Section -->
    {% endblock %}