{% extends 'storefront/main.html' %}
{% load static %}
{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x400)">
        <div class="auto-container">
            <h1>Gallery</h1>
            
        </div>
    </section>
    <!--End Page Title-->

    <!-- Blog Showcase -->
    <section class="blog-section blog-showcase">
        <div class="auto-container">
            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Consequat vel donec</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block style-two">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Nulla amet massa</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Vitae aenean nulla</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block style-two">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Morbi etiam suada</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Et imperdiet auctor</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block style-two">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Turpis harum nunc</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Porta bibend prae</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block style-two">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Non et vivamus fusce</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Vitae ac vitae sed sed</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block style-two">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Consectetuer risus justo</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Duis taciti praesent</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block style-two">
                <div class="inner-box row">
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <figure class="image"><img src="https://via.placeholder.com/570x320" alt=""></figure>
                            
                        </div>
                    </div>
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3><a href="blog-single.html">Scelerisque tempor est</a></h3>
                            
                            <div class="text">Et enim, magna felis vestibulum, ornare massa elit, in nam dignissim nam morbi odio nullam. Rhoncus vitae ligula, mauris nascetur eleifend nonummy. Mauris mattis suscipit, fermentum sed proin vestibulum in diam interdum. Dignissim lobortis</div>
                            <div class="devider"><img src="images/icons/icon-devider-gray.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Showcase -->

{% endblock %}