
{% extends 'storefront/main.html' %}
{% load static %}
{% block content %}

<!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x400)">
        <div class="auto-container">
            <h1>Shop</h1>
            
        </div>
    </section>
    <!--End Page Title-->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                    <div class="our-shop">
                        <div class="shop-upper-box clearfix">
                            <!-- <div class="items-label">Showing all 12 results</div>
                            <div class="orderby">
                                <select name="orderby" class="sortby-select select2-offscreen">
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating" >Sort by average rating</option>
                                    <option value="date" >Sort by newness</option>
                                    <option value="price" >Sort by price: low to high</option>
                                    <option value="price-desc" >Sort by price: high to low</option>
                                </select>
                            </div> -->
                        </div>

                        <div class="row clearfix">
                            {% for product in products %}  
                            <!-- Shop Item --> 
                            <div class="shop-item col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        
                                        <figure class="image"><a href="shop-single.html"><img src="{{ product.imageURL }}" alt=""></a></figure>
                                        <!-- <div class="btn-box"><a href="shopping-cart.html">Add to cart</a></div> -->
                                        <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart btn-box">Add to Cart</button>
                                    </div>
                                    <div class="lower-content">
                                        <h4 class="name"><a href="shop-single.html">{{ product.name }}</a></h4>
                                        <!-- <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star light"></span></div> -->
                                        <div class="price">{{ product.price }}</div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--Sidebar Side-->
                <div class="sidebar-side sticky-container col-lg-3 col-md-12 col-sm-12">
                    <aside class="sidebar theiaStickySidebar">
                        <div class="sticky-sidebar">
                            <!-- Search Widget -->
                            <div class="sidebar-widget search-widget">
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search products…" required>
                                        <button type="submit"><span class="icon fa fa-search"></span></button>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- Cart Widget -->
                            <div class="sidebar-widget cart-widget">
                                <div class="widget-content">
                                    <h3 class="widget-title">Cart</h3>
                                    
                                    <div class="shopping-cart">
                                        {% for item in items %}
                                        
                                        {% endfor %}
                                        

                                        <div class="cart-footer">
                                            <div class="shopping-cart-total"><strong>Subtotal:</strong> ${{order.get_cart_total|floatformat:2}}</div>
                                            <a href="{% url 'cart' %}" class="theme-btn">View Cart</a>
                                            <a href="{% url 'checkout' %}" class="theme-btn">Checkout</a>
                                        </div>
                                    </div> <!--end shopping-cart -->
                                </div>
                            </div>

                            

                            
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

{% endblock %}